* {
    box-sizing: border-box;
}

  /* a 링크 태그 스타일 초기화 */
  a {
    all: unset;
  }
  
  a:link {
    text-decoration: none;
    color: #3f464d;
  }
  
  a:visited {
    text-decoration: none;
    color: #3f464d;
  }
  
  a:active {
    text-decoration: none;
    color: #3f464d;
  }
  
  a:hover {
    text-decoration: none;
    color: #3f464d;
  }

body {
    margin: 0 auto;
    /* font-family: ; */
    background-color: #f7f7f7;
    color: rgb(51, 51, 51);
}

.inner {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 50px;
    padding: 0 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f9f9f9;
}

.head_container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(76, 97, 223);
}

.location {
    margin-top: 40px;
    display: flex;
    text-align: center;
}

.present_location {
    height: 40px;
    line-height: 40px;
}

.select_card_container {
    width: 100%;
}

.select_list { 
    /* 꼭 수정해야 함ㅜㅜ!! */
    padding: 0.7rem 0;
    margin: 0 0 0.5rem 0;
    display: flex;
    list-style: none;
    justify-content: center;
    overflow: auto;
    flex-wrap:unset;
}

.select_card {
    width: 280px;
    border-radius: 20px;
    margin: 0 12px;
    transition: 0.4s;
    flex-shrink: 0;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    background-color: white;
}

.card_img {
    width: 100%;
    height: 400px;
    border-radius: 20px 20px 0 0;
}

.card_text_container {
    height: 210px;
    margin: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card_title {
    margin-bottom: 4px;
    font-size: 1.2rem;
    font-weight: bolder;
    white-space: nowrap;
    text-align: center;
}

.card_desc {
    width: 100%;
    height: 95px;
    margin: 0.5rem 0;
    line-height: 1.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.detail_btn_container {
    margin-top: 0.5rem;
    text-align: center;
}

.detail_btn {
    width: 90%;
    height: 50px;
    margin: 0.2rem 0;
    line-height: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(76, 97, 223);
    border: 2px solid rgb(76, 97, 223);
    border-radius: 8px;
}


.login_container {
    text-align: center;
}

.logo_container {
    margin-top: 80px;
    margin-bottom: 25px;
}

#dverse_logo {
    max-width: 160px;
}

.catch_phrase {
    margin-top: 30px;
    margin-bottom: 10px;
    color: rgb(76, 97, 223);
}

.catch_phrase_small {
    margin-top: 10px;
    color: rgb(51, 51, 51);
}

.login_blank {
    margin: 60px 0;
}

.login_blank input {
    width: 300px;
    height: 50px;
    line-height: 50px;
    padding: 0.7rem;
    margin: 0.4rem 0;
    border: 2px solid rgb(119,137,249);
    border-radius: 8px;
    background-color: #f9f9f9;
}

.welcome_txt {
    height: 100%;
    padding: 15px;
    line-height: 1.4rem;
    margin: 60px 0 30px 0;
}

.login_btn {
    width: 300px;
    height: 50px;
    margin: 0.4rem 0;
    line-height: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(119,137,249);
    border: 2px solid rgb(119,137,249);
    border-radius: 8px;
}

.welcome_btn {
    margin: 0 0 60px 0;
}

footer {
    text-align: center;
    border-top: 1px solid #e4e4e4;
    background-color: #f8f9fa;
    padding: 1rem 0;
    margin: 1rem 0 0 0.5rem;;
  }
  
  .footer-message {
    font-size: 0.9rem;
    font-weight: bold;
    color: #545e6f;
    margin: 0.3rem;
  }
  
  .footer-contact {
    font-size: 0.9rem;
    color: #545e6f;
    margin: 0 0.5rem;
  }
  
  .footer-copyright {
    font-size: 0.9rem;
    color: #545e6f;
    margin: 1rem 0.3rem;
  }


/* detailed css */
.detail_container {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.img_containter {
    width: 374px;
    height: 400px;
}

.img_containter img {
    width: 100%;
    height: 100%;
}

.detail_img {
    width: 100%;
}

.text_container {
    width: 100%;
    padding: 1rem;
}

.detail_title {
    font-weight: bolder;
    margin-bottom: 1rem;
}

.detail_desc {
    line-height: 1.5rem;
}

.detail_btn_container {
    text-align: center;
    margin-bottom: 1rem;
}

.detail_btn {
    width: 90%;
    height: 50px;
    line-height: 50px;
    font-weight: bold;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgba(76, 97, 223, 1);
    border: 2px solid rgba(76, 97, 223, 1);
    border-radius: 8px;
}

@media only screen and (min-width: 600px) {
    .inner {
      max-width: 600px;
    }
  }