{% extends "base.html" %}
{% block title %}나의 지구를 지켜줘{% endblock %}
{% block content %}
    <header>
        <div class="inner">
            <div class="head_container">
                <form action="\dverse\list"><button class="back_btn"><i class="fas fa-chevron-left"></i></button></form>
                <div class="page_title">나의 지구를 지켜줘</div>
                <div">
            </div>
        </div>
        </div>
    </header>

    <section>
        <div class="inner">
            <div class="intro_container">
                <video width="100%" height="auto" autoplay="autoplay" muted controls>
                    <source src="{{ url_for('static', filename='img/ecointro.mp4') }}" type="video/mp4">
                    일시적인 문제로 영상을 재생할 수 없습니다.
                </video>
            </div>
        </div>
    </section>
{% endblock %}