{% extends "base.html" %}
{% block title %}디버스{% endblock %}
{% block content %}
<body>
<div class="inner">
    <div class="login_container">
        <div class="logo_container">
            <img id="dverse_logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="D-verse Logo">
        </div>
        <h1 class="catch_phrase">디버스</h1>
        <h3 class="catch_phrase_small">Another Daejeon in parallel universe.</h3>
        <div class="welcome">
            <div class="welcome_txt"><b>{{ name }}</b>님, 디버스의 세상에 오신 것을 환영합니다.<br>아래의 버튼을 누르면 디버스의 시나리오를 볼 수 있습니다.</div><br>
            <form action="\dverse\list" class="welcome_btn"><button type="submit" class="login_btn" onclick="func1()">진입하기</button></form>
        </div>
    </div>
</div>
{% endblock %}